<h1>掃除当番管理システムメイン</h1>

<h2>現在の割当</h2>

<table border="1">
  <th></th>
  <th><%= @duties[0].name %></th>
  <th><%= @duties[1].name %></th>
  <th><%= @duties[2].name %></th>
  <% @weeks.each do |week| %>
    <tr>
      <td><%= week.full_name %></td>
      <td><%= week.assignments.where("duty_id = ?",@duties[0].id).map{|a| a.try(:member).try(:name)} %></td>
      <td><%= week.assignments.where("duty_id = ?",@duties[1].id).map{|a| a.try(:member).try(:name)} %></td>
      <td><%= week.assignments.where("duty_id = ?",@duties[2].id).map{|a| a.try(:member).try(:name)} %></td>
    </tr>
  <% end %>
</table>

