<h1>Listing members</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Number</th>
    <th>Email</th>
    <th>Outside</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.name %></td>
    <td><%= member.number %></td>
    <td><%= member.email %></td>
    <td><%= member.outside %></td>
    <td><%= link_to 'Show', member %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Member', new_member_path %>
